<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Storage Hub</title>
    <link rel="stylesheet" href="clothes.css">

</head>

<body>
    <header>
        <div class="head_container">
            <!-- head logo -->
            <div class="logo_flex">

                <a href="/" class="logo">
                    <img src="./assets/Iris.png" alt="Logo" class="logo">
                    <span>Home Storage Hub</span>
                </a>
            </div>
            <!-- pages-->
            <div class="head_flex">
                <ul class="head_flex">
                    <li>
                        <a class="page_botton" href="#">
                            Product
                        </a>
                    </li>
                    <li>
                        <a class="page_botton" href="#">
                            Calculator
                        </a>
                    </li>
                    <li>
                        <a class="page_botton" href="#">
                            Clothes
                        </a>
                    </li>
                    <li>
                        <a class="page_botton" href="#">
                            Bank
                        </a>
                    </li>
                </ul>
            </div>
            <!-- line -->


    </header>


    <h1>我的搭配</h1>
    <div class="card-container">
        <div class="card">
            <img src="assets/oil painting .jpg" alt="衬衫">
            <h2>油画</h2>
            <span class="scene">居家</span>
            <span class="location">卧室衣柜</span>
        </div>

        <div class="card">
            <img src="assets/OIP.jpg" alt="裙子">
            <h2>白色裙</h2>
            <span class="scene">逛街</span>
            <span class="location">一楼衣架</span>

        </div>

        <div class="card">
            <img src="assets/R.jpg" alt="夹克">
            <h2>西装</h2>
            <span class="scene">通勤</span>
            <span class="location">洗衣房</span>


        </div>

        <div class="card">
            <img src="assets/Iris.png" alt="夹克">
            <h2>点击添加搭配</h2>
            <span class="scene">使用场景</span>
            <span class="location">位置描述</span>

        </div>
    </div>
</body>

</html>