/*clothes*/

/* 容器样式 */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding-bottom: 8rem;
}

/* 卡片样式 */
.card {
    /* border: 1px solid #ccc; */
    border-radius: 0.5rem;
    text-align: center;
    /* box-shadow: 2px 2px 2px #ccc; */
    /* width: 25%; */
    /* margin-right: 2.5%; */
    /* margin-bottom: 2em; */
    margin: 0.5rem;
    display: inline-block;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 40%;
    }
}

/* 图片样式 */
.card img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}


/* 场景样式 */
.card .scene {
    font-size: 0.9em;
    color: #999;
    display: block;
    /* margin-bottom: 0.5em; */
}

/* 位置样式 */
.card .location {
    display: block;
    font-size: 0.7em;
    color: #666;
    /* margin-top: 0.5em; */
}